-if current_user.nil? && current_member.nil?
  #password_form
    -form_tag password_resets_path do
      %fieldset
        -if !flash.now[:notice].nil?
          %p=flash.now[:notice]
        %h2 Forgotten your password?
        %label Just enter your email below for instructions on how to change it.
        %br/
        %label Email:
        %br/
        =text_field_tag "forgot_email",'',:tabindex => "1"
        %div{:id=>"checkEmail",:class=>"signin_div"}
        %br/
        =submit_tag "Send me instructions",:tabindex => "2",:id=>"password_email_submit"

  #password_logo
    %ul.signin_left
      %li
        %a{:href => "/sign-up", :tabindex => "6"} Don't have an account?  Sign up today!
    %ul.signin_right
      %li
        %a{:href => "index.htm"}
          =image_tag "requirementbox_footer.png"