<%if current_user.nil? && current_member.nil?%>
<div class="log_con wid880">
	 <h1>businessanalysthq.com</h1>
     <div class="signUp_menu">
     	<a href="#">Home</a> | <a href="#">Tour</a> | <a href="#">Blog</a> | <a href="#">Pricing</a> | <%=link_to "Sign In", new_user_session_path%>
     </div>
     <div class="clear"></div>
<div class="log_con_Box wid820">

<div>
	
    <div class="log_con_Box">
      <div><h3>Forgot Password</h3></div>
      <div class="loginForm">
         <% form_tag password_resets_path do %>
            <div class="rows">Please enter the email address you used to register:</div>
            <div class="rows">
               <label>Email:</label><br />
                  <span><%= text_field_tag "email" %><br /> </span>
            </div>
            <br />
            <div class="rows">
                  <label><%= submit_tag "Reset my password" %></label>
            </div>
         <% end %>
      </div>
    </div>
</div>
</div>
</div>
<%end%>