=image_tag "#{REQBEnv::DEFAULT_HOST}/images/logo.gif",:width=>"569",:height=>"88", :alt=>"requirement box"
%br
=t(:activation_email_message)
%br
%br
="Please click on the link below to activate your account."
%br
%br
= @update_email_member_link
%br
%br
="Thanks"
%br
%br
%a{:href => "requirementbox.com", :style => "text-decoration:none;"}
 %b{:style => "font-size:22px; color:#416e9d;"}="requirementbox.com"

