=image_tag "#{REQBEnv::DEFAULT_HOST}/images/logo.gif",:width=>"569",:height=>"88",:alt=>"requirement box"
%br
%br
="To set a new password just follow the link below:"
%br
%br
= @reset_password_link
%br
%br
="Thanks"
%br
%br
%a{:href => "requirementbox.com", :style => "text-decoration:none;"}
 %b{:style => "font-size:22px; color:#416e9d;"}="requirementbox.com"
