%div{:class=>"container"}
 %div{:id=>"require",:class=>"leftPanel"}
  %h1="Use Cases"
  %div{:class=>"fcontainer"}
   -if !@use.nil?
    =@use.name
    |
    =@use.category
    |
    =@use.status
    -if @user.privilige!="Read" and @user.privilige!="Approve"
     =add_use_edit_field "Edit",@use,@user
     -att_flag=check_attachment_use(@use.id)
     -if @user.privilige=="Admin"
      -if att_flag=="true"
       =link_to "Delete",use_case_path(@use.id),:method=>:delete
      -else
       =link_to "Delete",use_case_path(@use.id),:method=>:delete,:confirm => 'Are you sure you want to delete?'
     -elsif @user.privilige!="Admin" and @use.status!="Approved"
      -if att_flag=="true"
       =link_to "Delete",use_case_path(@use.id),:method=>:delete
      -else
       =link_to "Delete",use_case_path(@use.id),:method=>:delete,:confirm => 'Are you sure you want to delete?'
     -else
      =link_to "Delete",use_case_path(@use.id),:href=>"#"
     =link_to "Add/Show Requirements",show_requirements_url(@use.id),:title=>@use.requirements.count
     =link_to "Add/Show Trackers",show_trackers_use_url(:use=>@use.id),:title=>@use.trackers.count
     =link_to "Add/Show File",show_files_use_url(:use=>@use.id),:title=>@use.project_files.count
     =link_to "Usecase Details",use_case_details_path(:id=>@use.id)
     =add_comment_use_field "Add Comments",@use,@user
     %div{:id=>"edit_#{@use.id}"}
     %br
     %br
     %div{:id=>"comment_#{@use.id}"}
     %hr{:style=>"width:400px;color:green;"}
    -else
     =add_use_edit_field "Edit",@use,@user
     =link_to "Delete",use_case_path(@use.id),:href=>'#'
     =link_to "Add/Show Requirements",show_requirements_url(@use.id),:title=>@use.requirements.count,:href=>"#"
     =link_to "Add/Show Trackers",show_trackers_use_url(:use=>@use.id),:title=>@use.trackers.count,:href=>"#"
     =link_to "Add/Show File",show_files_use_url(:use=>@use.id),:title=>@use.project_files.count,:href=>"#"
     =link_to "Usecase Details",use_case_details_path(:id=>@use.id),:href=>"#"
     =add_comment_use_field "Add Comments",@use,@user
     %br
     %div{:id=>"comment_#{@use.id}"}
     %hr{:style=>"width:400px;color:green;"}
     %br
 %div{:class=>"rightPanel"}
  %div{:id=>"storage"}
   %h1="Storage"
   =find_storage_use(@user).to_s + "mb from " + find_total_storage_use(@user) + " used"
