%div{:class=>"rows aRow ctr"}
  ="Add New Requirement:"
  -if !session[:project_id].nil? and @user.privilige!="Read" 
    =text_field_tag :req_name,"<< Add requirement",:size=>"50",:class=>"inpTxt_ad rgt w400px"
    %span{:id=>"loading"}=image_tag "spinner.gif"
    %span.smLink=add_require "+ 10 Reqs"
  -else
    =text_field_tag :req_name,"<< Add requirement",:size=>"50",:disabled=>true,:class=>"inpTxt_ad rgt w400px"
    %span.smLink=link_to "+ 10 Reqs",:href=>"#"
%div{:class=>"gap"}    