=text_area_tag :req_comment,@comment.title,:size=>"50",:style=>"text-align:right",:readonly=>true
-if @user.privilige=="Admin"
    =link_to "Delete",delete_comment_url(@comment.id)
-else
    =link_to "Delete",delete_comment_url(@comment.id),:href=>"#"
%br
%br