-#find_user_name_use(@project_req)
-#=find_user_name(@project_req)
=@project_req.name
|
=@project_req.category
|
=@project_req.status
|
=@project_req.type1
=add_edit_field "Edit",@project_req
-att_flag=check_attachment_req(@project_req)
-if att_flag=="true"
 =link_to "Delete",delete_req_url(@project_req.id)
-else
 =link_to "Delete",delete_req_url(@project_req.id),:confirm => 'Are you sure you want to delete?'
=link_to "Add/Show Usecase",show_usecases_url(:req=>@project_req.id),:title=>@project_req.use_cases.count
=link_to "Add/Show Tracker",show_trackers_url(:req=>@project_req.id),:title=>@project_req.trackers.count
=add_comment_req_field "Add Comments",@project_req,@user
%br
-#%div{:style=>"width:350px;text-align:left;",:align=>"center"}
 -#=@project_req.name
%div{:id=>"edit_#{@project_req.id}"}
%br
%div{:id=>"comment_#{@project_req.id}"}
%hr{:style=>"width:400px;color:green;"}

