.headerBg{height:104px !important; padding-bottom:0 !important; padding-top:0 !important;}



.projectBox_n, .topLink{margin-top:10px !important;}

.leftCon .descBox {width:318px !important;}
.leftCon .descBox1 {width:318px !important;}
.leftCon h3 {width: 422px !important;}
.container{margin:0 !important;margin-top:8px !important;margin-bottom:8px !important;padding-bottom:8px !important;padding-left:8px !important;padding-right:0 !important;padding-top:0 !important;}
.lower {clear:both;float:left!important;margin-left:50px !important;padding-left:25px !important;text-align:left !important;width:81% !important;}
.w250{width:250px !important; margin-left:20px !important; text-align:center!important;}
.w685px {width: 664px !important;margin:5px !important;}
.leftPanel {border: 1px solid #82B63A !important;float: left !important;height: 100% !important;padding-bottom: 10px !important;width:706px !important;}
.rightPanel_show label{display:block;float:left;width:220px;margin-top:5px !important;}
.rightPanel_show .check_box{display:block;float:left;width:20px !important;}
.editBox{width:55px !important;}
.dashboard_show{display:block;width:17px;float:left;}
.searchBg input{height:22px !important;}

