-if !@user.errors.nil?
 :plain
  $('#change_password').html('#{escape_javascript(render(:partial=>'change_password'))}');
  
-if @flag=="true"
 :plain
  $('#change_password').html('#{escape_javascript(render(:partial=>'account_details1'))}');
