%div{:id=>"password_form"}
 -form_for @user,:url => reset_password_url,:method=>:put do |f|
  %fieldset
   -if !flash[:notice].nil?
    %p=flash[:notice]
   -if !f.error_messages.empty?
    %p=f.error_messages
   %h2="Reset your password"
   %label="Use the form below to re-set your password and log in."
   %br
   %label="New password:"
   %br
   = f.password_field :password,:tabindex=>"1"
   %div{:id=>"checkPassword",:class=>"signin_div"}
   %br
   %label="Confirm new password:"
   %br
   = f.password_field :password_confirmation,:tabindex=>"2"
   %div{:id=>"checkPasswordCon",:class=>"signin_div"}
   %br
   = submit_tag "Reset and log me in",:tabindex=>"3",:id=>"user_submit"
%div{:id=>"signin_logo"}
 %ul{:class=>"signin_left"}
  %li
   = link_to "Already have an account?  Sign in now",sign_in_url
 %ul{:class=>"signin_right"}
  %li
   =link_to image_tag("requirementbox_footer.png"),root_url   