=link_to "A","#",:id=>"alpha_A"
=link_to "B","#",:id=>"alpha_B"
=link_to "C","#",:id=>"alpha_C"
=link_to "D","#",:id=>"alpha_D"
=link_to "E","#",:id=>"alpha_E"
=link_to "F","#",:id=>"alpha_F"
=link_to "G","#",:id=>"alpha_G"
=link_to "H","#",:id=>"alpha_H"
=link_to "I","#",:id=>"alpha_I"
=link_to "J","#",:id=>"alpha_J"
=link_to "K","#",:id=>"alpha_K"
=link_to "L","#",:id=>"alpha_L"
=link_to "M","#",:id=>"alpha_M"
=link_to "N","#",:id=>"alpha_N"
=link_to "O","#",:id=>"alpha_O"
=link_to "P","#",:id=>"alpha_P"
=link_to "Q","#",:id=>"alpha_Q"
=link_to "R","#",:id=>"alpha_R"
=link_to "S","#",:id=>"alpha_S"
=link_to "T","#",:id=>"alpha_T"
=link_to "U","#",:id=>"alpha_U"
=link_to "V","#",:id=>"alpha_V"
=link_to "W","#",:id=>"alpha_W"
=link_to "X","#",:id=>"alpha_X"
=link_to "Y","#",:id=>"alpha_Y"
=link_to "Z","#",:id=>"alpha_Z"
