%div{:class=>"rows aRow ctr"}
 ="Add New Project:"
 -if @flag=="true" and @user.privilige=="Admin"
  =text_field_tag :project_name1,"<< Add a new project",:size=>"50",:class=>"inpTxt_ad rgt w400px"
  %span{:id=>"loading"}=image_tag "spinner.gif"
 -else
  =text_field_tag :project_name1,"<< Add a new project",:size=>"50",:class=>"inpTxt_ad rgt w400px",:disabled=>true
%div{:class=>"gap"}   
