-if @flag=="true" and @user.privilige=="Admin"
   =text_field_tag :project_name1,"<< Add a new project",:size=>"50",:style=>"text-align:right"
-else
   =text_field_tag :project_name1,"<< Add a new project",:size=>"50",:style=>"text-align:right",:disabled=>true
