%div{:class=>"container"}
 %div{:class=>"projectPanel"}
  %div{:class=>"tabbed_area"}
   %ul{:class=>"tabs"}
    %li=link_to "Contact Details",:title=>"Contact Details"
    %li=link_to "Account Details",account_details_url,{:title=>"Account Details"}
    %li=link_to "People",members_path,:title=>"People"
    %li=link_to "Notifications",:title=>"Notifications"
    %li=link_to "Projects",projects_path,{:class=>"active",:title=>"Projects"}
    %li=link_to "Attributes",:title=>"Attributes"
   %div{:id=>"content_5" ,:class=>"content"}
    %div{:id=>"project",:align=>"middle"}
    %b="Projects"
    %br
    %div{:id=>"add_project_text"}
     =render :partial=>"add_project_field"
    %br
    %br
    %div{:id=>"add_project",:align=>"middle"}
    -if !@projects.nil?
     -@projects.each do |project|
      -form_tag edit_project_path(project.id) do |f|
       =text_field_tag :project_name,"#{project.project_name}"
       =text_field_tag :description,"#{project.description}"
       -if @user.privilige!="Admin"
        =submit_tag "Edit",:disabled=> true
        =link_to "Delete",delete_url(project.id),:href=>"#"
       -else
        =submit_tag "Edit"
        -att_flag=check_attachment(project.id)
        -if att_flag=="true"
         =link_to "Delete",delete_url(project.id)
        -else
         =link_to "Delete",delete_url(project.id),:confirm => 'Are you sure you want to delete?'
       %br
       %br
     