%div{:class=>"copyright"}
 %p{:class=>"copyleft"}
  ="&copy;#{Time.now.strftime('%Y')}".html_safe
  =link_to 'elementcha b.v.','http://www.elementcha.com'
  ="All rights reserved."
 %p{:class=>"copy_right"}=image_tag "/images/footer-logo.png", :width=>"143",:height=>"25" 
