%h1="requirementbox.com"
%div{:class=>"signUp_menu"}
 =link_to "Home"
 |
 =link_to "Tour"
 |
 =link_to "Blog",terms_of_service_url
 |
 =link_to "Pricing"
 |
 =link_to "Sign In", sign_in_url
%div{:class=>"clear"}
%div{:class=>"log_con_Box wid820"}
 %div{:class=>"box820 fl"}
  %h1="Organise requirements, use cases and track issues quickly and simply with businessanalysthq.com"
 %div{:class=>"box820 fl"}
  %div{:class=>"loginForm wid820", :style=>"border-top:2px solid #ddd;"}
   &nbsp;
   %div{:class=>"loginForm wid820",:align=>"center"}
    =image_tag "generatedcrossimage.png",:width=>"200",:height=>"200"
    =image_tag "generatedcrossimage.png",:width=>"200",:height=>"200"
    =image_tag "generatedcrossimage.png",:width=>"200",:height=>"200"
    =image_tag "generatedcrossimage.png",:width=>"200",:height=>"200"
   %div{:class=>"loginForm wid820",:align=>"center"}
    &nbsp;
    =image_tag "buy-now.png",:width=>"78",:height=>"25",:alt=>""
   %div{:class=>"loginForm wid820",:style=>"border-top:2px solid #ddd;"}
    &nbsp;
   %div{:class=>"loginForm wid820",:align=>"center"}
    =image_tag "generatedcrossimage.png",:width=>"200",:height=>"200"
    =image_tag "generatedcrossimage.png",:width=>"200",:height=>"200"
    %br
    =image_tag "generatedcrossimage.png",:width=>"200",:height=>"200"
    =image_tag "generatedcrossimage.png",:width=>"200",:height=>"200"
   %div{:class=>"loginForm wid820",:align=>"center"}
    &nbsp;
    =image_tag "tour.png",:width=>"78",:height=>"25",:alt=>""

