$('#alter_use_basic_action_#{@alter_flow.id}').attr('value','<< Add a user action');
$('#alter_use_basic_response_#{@alter_flow.id}').attr('value','<< Add a system response');
$('#edit_alternate_#{@alter_flow.id} ul').append('#{escape_javascript(render(:partial=>'use_case_details/add_text_field'))}');