-if current_user.nil? and current_member.nil?
 :plain
  window.location.replace("/sign-in");
-elsif session[:use_case_id].nil?
 :plain
  window.location.replace("/use_cases");
-elsif @rule.id.nil?
 :plain
  $('#flash_error_message').html('').append('<div class="flash_error">#{t(:duplicate_rule)}</div>');
-else
 :plain
  $('#flash_error_message').html('').append('');
  $('#business_rule').attr('value','');
  $('#add_use_case_detail').prepend('#{escape_javascript(render(:partial=>'use_case_details/add_text_field'))}');