$('#show_alter_basic_#{@alter_basic.id}').hide();
$('#add_alternate_#{@alter_basic.alternate_flow_id}').hide();
$('#edit_alternate_#{@alter_basic.alternate_flow_id}').hide();
$('#show_alter_#{@alter_basic.alternate_flow_id}').hide();