%div{:class=>"container"}
 %div{:class=>"projectPanel"}
  %div{:class=>"tabbed_area"}
   %ul{:class=>"tabs"}
    %li=link_to "Pre-conditions",use_case_details_path(:id=>@use_case.id),{:title=>"Pre-conditions"}
    %li=link_to "Post Conditions",post_conditions_url(:id=>@use_case.id),{:title=>"Post Conditions"}
    %li=link_to "Success Conditions",success_conditions_url(:id=>@use_case.id),{:title=>"Success Conditions",:class=>"active"}
    %li=link_to "Triggers",triggers_url(:id=>@use_case.id),:title=>"Triggers"
    %li=link_to "Actors",actors_url(:id=>@use_case.id),{:title=>"Actors"}
    %li=link_to "Business Rules",business_rules_url(:id=>@use_case.id),{:title=>"Business Rules"}
    %li=link_to "Messages",message_url(:id=>@use_case.id),{:title=>"Messages"}
    %li=link_to "Basic Flow",basic_flow_url(:id=>@use_case.id),{:title=>"Basic Flow"}
   %span{:class=>"content"}
    %div{:class=>"fl w685px1",:id=>"project"}
     %h4="Use case details for #{@use_case.name}"
     %div{:class=>"tabFormat"}
      %div{:id=>"add_succcondition",:class=>"rows aRow ctr"}
       -if @user.privilige!="Read" and @user.privilige!="Approve"
        =text_field_tag "succ_condition","<< Add success condition",:size=>"50",:class=>"inpTxt_ad rgt w400px"
        %span{:id=>"loading"}=image_tag "spinner.gif"
       -else
        =text_field_tag "succ_condition","<< Add post-condition",:size=>"50",:class=>"inpTxt_ad rgt w400px",:disabled=>true
      %div{:class=>"gap"}
      %div{:id=>"add_use_case_detail"}
       -if !@succ_conditions.nil?
        -@succ_conditions.each do |succ|
         %div{:class=>"rows ctr"}
          -form_tag edit_succ_url(succ.id) do
           =text_area_tag "succ_condition_#{succ.id}",succ.title,:cols=>"50",:class=>"inpTxt rgt w400px marL38"
           -if @user.privilige!="Read"
            %span{:id=>"show_save_cancel_#{succ.id}",:style => "display:none;"}
             %span{:class=>"smLink"}=submit_tag "Save",:class=>"cButton"
             %span{:class=>"smLink"}=link_to "Cancel",success_conditions_url(:id=>session[:use_case_id])
            %span{:class=>"smLink"}=link_to "Delete",delete_success_url(succ.id)
           -else
            %span{:class=>"smLink"}=link_to "Delete","#",:confirm=>t(:succ_condition_delete_message_with_out_permisson)

     %span{:class=>"smLink fl"}=link_to "<< Back to use case list",use_cases_path
     %span{:class=>"smLink fr"}=link_to "Triggers >>",triggers_url(:id=>@use_case.id)
 %div{:class=>"rightPanel"}
  %div{:id=>"storage"}
   %h1="Storage"
   %div{:class=>"rightPanel_show"}=find_storage_use(@user).to_s + "mb from " + find_total_storage_use(@user) + "mb used"
       