%div{:class=>"container"}
 %div{:class=>"projectPanel"}
  %div{:class=>"tabbed_area"}
   %ul{:class=>"tabs"}
    %li=link_to "Pre-conditions",use_case_details_path(:id=>@use_case.id),{:title=>"Pre-conditions"}
    %li=link_to "Post Conditions",post_conditions_url(:id=>@use_case.id),{:title=>"Post Conditions"}
    %li=link_to "Success Conditions",success_conditions_url(:id=>@use_case.id),{:title=>"Success Conditions"}
    %li=link_to "Triggers",triggers_url(:id=>@use_case.id),{:title=>"Triggers"}
    %li=link_to "Actors",actors_url(:id=>@use_case.id),{:title=>"Actors",:class=>"active"}
    %li=link_to "Business Rules",business_rules_url(:id=>@use_case.id),{:title=>"Business Rules"}
    %li=link_to "Messages",message_url(:id=>@use_case.id),{:title=>"Messages"}
    %li=link_to "Basic Flow",basic_flow_url(:id=>@use_case.id),{:title=>"Basic Flow"}
   %span{:class=>"line"}
   %div{:class=>"dwnContainer"}
    %div{:id=>"project",:align=>"middle"}
    %b="Use Case Details"
    %br
    %div{:id=>"add_actor"}
     -if @user.privilige!="Read" and @user.privilige!="Approve"
      =text_field_tag "actor","<< Add actor",:size=>"50",:style=>"text-align:right"
      %br
      %br
      %div{:id=>"add_use_case_detail",:align=>"middle"}
       -if !@actors.nil?
        -@actors.each do |actor|
         =button_to "#{actor.title}",delete_actor_url(actor)
         %br
         %br
     -else
      =text_field_tag "actor","<< Add actor",:size=>"50",:style=>"text-align:right",:disabled=>true
      %br
      %br
      %div{:id=>"add_use_case_detail",:align=>"middle"}
       -if !@actors.nil?
        -@actors.each do |actor|
         =button_to "#{actor.title}",delete_actor_url(actor),:href=>"#"
         %br
         %br
    %hr{:style=>"width:400px;color:green;"}
    =link_to "<< Back to use case list",use_cases_path
    %br
    =link_to "Business Rules>>",business_rules_url(:id=>@use_case.id)
