%div{:id=>"show_faq"}
 -if !@helps.nil?
  %div{:id=>"FAQ"}
   -@helps.each do |h|
    =h.tag.html_safe
    %h2.question=link_to h.faq,"##{h.id}",:id=>"faq_#{h.id}"
    %div{:id=>"faq_answer_#{h.id}",:style => "display:none;"}
     =h.result.html_safe
    %br
