%div{:class=>"container"}
 %div{:class=>"projectPanel"}
  %div{:class=>"tabbed_area"}
   %ul{:class=>"tabs"}
    %li=link_to "Contact Details",:title=>"Contact Details"
    %li=link_to "Account Details",account_details_url,{:class=>"active",:title=>"Account Details"}
    %li=link_to "People",members_path,:title=>"People"
    %li=link_to "Projects",projects_path,{:title=>"Projects"}
    
   %div{:id=>"content_2",:class=>"content"}
    %div{:class=>"fcontainer"}
     %div{:id=>"change_password"}
      -if !current_user.nil?
       %span.toogleTxt=add_change_password_field "Change Password",current_user
      -else
       %span.toogleTxt=add_change_password_field "Change Password",current_member
     %span.toogleTxt=link_to "Forget Password",:controller=>"password_resets",:action=>"new"
     %div{:id=>"change_email"}
      -if !current_user.nil?
       %span.toogleTxt=add_change_email_field "Change Email",current_user
      -else
       %span.toogleTxt=add_change_email_member_field "Change Email",current_member
     %div{:id=>"update_subscription"}
      -if !current_user.nil?
       %span.toogleTxt=update_change_subscription "Upgrade/Degrade subscription",current_user

 %div{:class=>"rightPanel"}
  %div{:id=>"storage"}
   %h1="Storage"
   %div{:class=>"rightPanel_show"}=find_storage_use(@user).to_s + "mb from " + find_total_storage_use(@user) + "mb used"
       