%div{:class=>"container"}
 %div{:id=>"require",:class=>"leftPanel"}
  %h1="Get Help"
  %div{:class=>"fcontainer"}
   -#=link_to "REQB Tutorial","example.pdf"
   =link_to "Help Request",new_home_path
   %br
   %br
   %div{:class=>"rows aRow ctr"}
    =text_field_tag :search_help,"<< Search for help",:size=>"50",:class=>"inpTxt_ad rgt w400px"
    %span{:id=>"loading"}=image_tag "spinner.gif"
   %div{:id=>"back_faq",:style => "display:none;"}
    =link_to "<< Back to FAQs",get_help_url
   %br
   %br
   %div{:id=>"show_faq"}
    -if !@helps.nil?
     %div{:id=>"FAQ"}
      -@helps.each do |h|
       =h.tag.html_safe
       %h2.question=link_to h.faq,"##{h.id}",:id=>"faq_#{h.id}"
       %div{:id=>"faq_answer_#{h.id}",:style => "display:none;"}
        =h.result.html_safe
       %br

 %div{:class=>"rightPanel"}
  %div{:id=>"sort_definition"}
   %div{:id=>"storage"}
   %h1="Storage"
   %div{:class=>"rightPanel_show"}=find_storage_use(@user).to_s + "mb from " + find_total_storage_use(@user) + " used"



