-if current_user.nil? && current_member.nil?
           -if !flash[:notice].nil?
                      %div
                                 = flash[:notice]

           %div{:class=>"log_con wid880"}
                      =render :partial=>"cms-admin/home"
  

  