%div{:class=>"container"}
 %div{:class=>"projectPanel"}
  %div{:class=>"tabbed_area"}
   %ul{:class=>"tabs"}
    %li=link_to "Notifications",notification_url,{:class=>"active",:title=>"Notifications"}
    %li=link_to "Attributes",attributes_url,:title=>"Attributes"
   %div{:id=>"content_5" ,:class=>"content"}
    %div{:class=>"fl w400px"}
     -form_for @notification,:url=>save_notification_url do |f|
      %div{:class=>"rows rHead"}
       ="Notify me when:"


      %div{:class=>"rows"}
       %div{:class=>"label"}
        ="A task is assigned to you"
       -if @notification.task_assigned==false
        - @aclass ="itoggle iToff"
       -else
        -@aclass ="itoggle iTon"
       %div{:id=>"itoggle",:class=>"project"}
        =f.label  :task_assigned,:class=>@aclass, :id=>"task_assigned"
      %div{:class=>"rows aRow"}
       %div{:class=>"label"}
        =label_tag "A task assigned to you has been modified"
       -if @notification.task_modified==false
        - @aclass ="itoggle iToff"
       -else
        -@aclass ="itoggle iTon"
       %div{:id=>"itoggle",:class=>"project"}
        =f.label  :task_assigned,:class=>@aclass, :id=>"task_modified"
      %div{:class=>"rows"}
       %div{:class=>"label"}
        =label_tag "A new requirement is created"
       -if @notification.req_created==false
        - @aclass ="itoggle iToff"
       -else
        -@aclass ="itoggle iTon"
       %div{:id=>"itoggle",:class=>"project"}
        =f.label  :req_created,:class=>@aclass, :id=>"req_created"
      %div{:class=>"rows aRow"}
       %div{:class=>"label"}
        =label_tag "A requirement is flagged for review"
       -if @notification.req_review==false
        - @aclass ="itoggle iToff"
       -else
        -@aclass ="itoggle iTon"
       %div{:id=>"itoggle",:class=>"project"}
        =f.label  :req_review,:class=>@aclass, :id=>"req_review"

      %div{:class=>"rows"}
       %div{:class=>"label"}
        =label_tag "A requirement is approved"
       -if @notification.req_approved==false
        - @aclass ="itoggle iToff"
       -else
        -@aclass ="itoggle iTon"
       %div{:id=>"itoggle",:class=>"project"}
        =f.label  :req_approved,:class=>@aclass, :id=>"req_approved"
      %div{:class=>"rows aRow"}
       %div{:class=>"label"}
        ="An approved requirement is no longer approved"
       -if @notification.req_longer_approved==false
        - @aclass ="itoggle iToff"
       -else
        -@aclass ="itoggle iTon"
       %div{:id=>"itoggle",:class=>"project"}
        =f.label  :req_longer_approved,:class=>@aclass, :id=>"req_longer_approved"
      %div{:class=>"rows"}
       %div{:class=>"label"}
        ="A new use case is created"
       -if @notification.use_created==false
        - @aclass ="itoggle iToff"
       -else
        -@aclass ="itoggle iTon"
       %div{:id=>"itoggle",:class=>"project"}
        =f.label  :use_created,:class=>@aclass, :id=>"use_created"
      %div{:class=>"rows aRow"}
       %div{:class=>"label"}
        =label_tag "A use case is flagged for review"
       -if @notification.use_review==false
        - @aclass ="itoggle iToff"
       -else
        -@aclass ="itoggle iTon"
       %div{:id=>"itoggle",:class=>"project"}
        =f.label  :use_review,:class=>@aclass, :id=>"use_review"

      %div{:class=>"rows"}
       %div{:class=>"label"}
        =label_tag "A use case is approved"
       -if @notification.use_approved==false
        - @aclass ="itoggle iToff"
       -else
        -@aclass ="itoggle iTon"
       %div{:id=>"itoggle",:class=>"project"}
        =f.label  :use_approved,:class=>@aclass, :id=>"use_approved"
      %div{:class=>"rows aRow"}
       %div{:class=>"label"}
        ="An approved use case is no longer approved"
       -if @notification.use_longer_approved==false
        - @aclass ="itoggle iToff"
       -else
        -@aclass ="itoggle iTon"
       %div{:id=>"itoggle",:class=>"project"}
        =f.label  :use_longer_approved,:class=>@aclass, :id=>"use_longer_approved"

      %div{:class=>"rows"}
       %div{:class=>"label"}
        =label_tag "A new file is uploaded"
       -if @notification.file_uploaded==false
        - @aclass ="itoggle iToff"
       -else
        -@aclass ="itoggle iTon"
       %div{:id=>"itoggle",:class=>"project"}
        =f.label  :file_uploaded,:class=>@aclass, :id=>"file_uploaded"
      %div{:class=>"rows aRow"}
       %div{:class=>"label"}
        ="A new definition is created"
       -if @notification.def_created==false
        - @aclass ="itoggle iToff"
       -else
        -@aclass ="itoggle iTon"
       %div{:id=>"itoggle",:class=>"project"}
        =f.label  :def_created,:class=>@aclass, :id=>"def_created"

 %div{:class=>"rightPanel"}
  %div{:id=>"storage"}
   %h1="Storage"
   %div{:class=>"rightPanel_show"}=find_storage(@user).to_s + "mb from " + find_total_storage(@user) + "mb used"

