%div{:class=>"log_con wid880"}
 %h1="businessanalysthq.com"
 %div{:class=>"signUp_menu"}
  -#=link_to "Home","#"
  -#|
  -#=link_to "Tour","#"
  -#|
  -#=link_to "Blog","#"
  -#|
  -#=link_to "Pricing","#"
  -#|
  -#=link_to "Sign In"
 %div{:class=>"clear"}
 %div{:class=>"log_con_Box wid820"}
  %div{:class=>"box820 fl"}
   %span{:class=>"colorBox bronze marL222"}
    %strong="Bronze"
    %em="20 / Month"
   %span{:class=>"colorBox gray"}
    %strong="Silver"
    %em="45 / Month"
   %span{:class=>"colorBox yell"}
    %strong="Gold"
    %em="90 / Month"
   %span{:class=>"colorBox lGray marR0"}
    %strong="Platinum"
    %em="150 / Month"
  %div{:class=>"box820 fl"}
   %div{:class=>"loginForm wid820 marT0"}
    -form_tag @user,:url=>payments_path,:method=>:post,:id=>"form1" do
     %div{:class=>"rows marB20"}
      %label.fl="Number of projects:"
      =text_field_tag "input3","",:disabled=>true,:class=>"inp146 marL114",:tabindex=>"1"
      =text_field_tag "input3","",:disabled=>true,:class=>"inp146",:tabindex=>"1"
      =text_field_tag "input3","",:disabled=>true,:class=>"inp146",:tabindex=>"1"
      =text_field_tag "input3","",:disabled=>true,:class=>"inp146 marR0",:tabindex=>"1"
      -if !@response_code.nil?
       =@response_code.error_messages.inspect
      %div.error_messages
     %div{:class=>"loginForm wid300 fl"}
      %div.rows
       =label_tag "First Name"
       %span=text_field_tag "first_name",'',:class=>"inpwid"
      %div{:id=>"first_name_error"}
      %div.rows
       =label_tag "Billing Address"
       %span=text_field_tag "address",'',:class=>"inpwid"
      %div{:id=>"address_error"}
      %div.rows
       =label_tag "Zip/Postal Code"
       %span=text_field_tag "zip",'',:class=>"inpwid"
      %div{:id=>"zip_error"}
      %div.rows
       =label_tag "Country"
       %span=select "country","",Country.all.collect {|c| [ c.name ] },{:prompt=>"--Select--"},:class=>"secWid"
      %div{:id=>"country_error"}
                 
     %div{:class=>"loginForm wid300 fr"}
      %div.rows
       =label_tag "Last Name"
       %span=text_field_tag "last_name",'',:class=>"inpwid"
      %div{:id=>"last_name_error"}

      %div.rows
       =label_tag "City"
       %span=text_field_tag "city",'',:class=>"inpwid"
      %div{:id=>"city_error"}

      %div.rows
       =label_tag "Region / Province"
       %span=text_field_tag "region",'',:class=>"inpwid"
      
      %div.rows
       =label_tag "Phone"
       %span=text_field_tag "phone",'',:class=>"inpwid"
      %div{:id=>"phone_error"}
      %br
      %br 
      =hidden_field_tag "plan_type_free","Free"
     %div{:class=>"loginForm wid820"}
      %div{:class=>"rows marB20"}
       %label
        =check_box_tag "payment_check","",false
        ="If you want to pay for account,please enter payment information"
      %div{:class=>"rows"}
       %h2
        %label="Payment Details"
      %div{:class=>"loginForm wid300 fl"}
       %div{:class=>"rows"}
        =label_tag "Plan"
        %span=select "plan_type","", ['BRONZE', 'GOLD', 'PLATINUM','SILVER'],{},:class=>"secWid"
       %div{:class=>"rows"}
        =label_tag "Payment Type"
        %span=select "payment_type","", ['Master Card', 'Visa', 'American Express'],{},:class=>"secWid"
       %div{:class=>"rows"}
        =label_tag "First Name on Card"
        %span=text_field_tag "name_on_card","",:disabled=>true,:class=>"inpwid"
       %div{:class=>"rows"}
        =label_tag "Last Name on Card"
        %span=text_field_tag "last_name_on_card","",:disabled=>true,:class=>"inpwid"
       %div{:class=>"rows"}
        =label_tag "Card Number"
        %span=text_field_tag "card_number","",:disabled=>true,:class=>"inpwid"
       %div{:class=>"rows"}
        =label_tag "Expire Date"
        %span=select_month Date.today,{},:disabled=>:true,:class=>"secWid"
        -#%span=select_year Date.today ,:start_year=>1990 ,:end_year=>2050,:disabled=>true
       %div{:class=>"rows"}
        =label_tag "CCV Code"
        =text_field_tag "ccv_code","",:disabled=>true,:class=>"inpwid"
       %div{:class=>"rows"}
        %label
         =check_box_tag "newsletter_check","yes",false
         ="Do you want newsletter"
       %div{:class=>"rows"}
        %label
         =check_box_tag "accept_check","",false
         ="Accept the terms and conditions, privacy and refund policy"
      %div{:class=>"loginForm wid255 marT84 fr bgyell"}
       %div{:class=>"rows"}
        %label="Guarantee:"
        %span=text_area_tag "","If you are not happy with bahq.com, for any reason, just cancel within 30 days and we will refund your you automatically with no questions asked",:cols=>"",:rows=>"",:class=>"texarea"

     %div{:class=>"rows"}
      %label=submit_tag "Continue",{:id=>"payment_submit"}
