%hr{:style=>"width:400px;color:green;"}
%br
%br
=text_area_tag "file_comment_#{file1.id}","<< Add comment",:size=>"50",:style=>"text-align:right"

%br
%br
%div{:id=>"comment_show_#{file1.id}"}
 -comments=file1.comments.find :all
 -if !comments.empty?
  -comments.each do |comment|
   =text_area_tag :file_comment,comment.title,:size=>"50",:style=>"text-align:right",:readonly => true
   -if @user.privilige=="Admin"
    =link_to "Delete",delete_file_comment_url(comment.id)
   -else
    =link_to "Delete",delete_file_comment_url(comment.id),:href=>"#" 
   %br
   %br 

