%div{:id=>"editDetails",:class=>"fullBox",:style=>"display:block;"}
  -form_tag edit_project_file_path(f.id) do
    %div{:class=>"rows aRow"}
      %div{:class=>"rows srHead"}
        %span{:class=>"cols Txt w50px"}="File_#{f.id}"
        %span{:class=>"cols w180px"}="Entered " + f.created_at.strftime("%d %B %Y")
        -first_name=find_user_name_of_file(f)
        -if !first_name.empty?
          %span{:class=>"cols w300px"}="By " + first_name
      %div{:class=>"rows"}
        %span{:class=>"cols Txt w80px"}="Type"
        %span{:class=>"cols w170px"}
          -if @user.privilige=="Read"
            =select "type1","",options_for_select(["Communication","Diagram","Document","Plan","Screen","Spreadsheet","Test Case","Transcript","Other"],f.type1),{},:class=>"inpSel w160px marR20",:disabled=>true
          -else
            =select "type1","",options_for_select(["Communication","Diagram","Document","Plan","Screen","Spreadsheet","Test Case","Transcript","Other"],f.type1),{},:class=>"inpSel w160px marR20"
      %div{:class=>"rows"}
        %span{:class=>"cols Txt w80px"}="Description"
        %span{:class=>"cols w160px"}
          -if @user.privilige=="Read"
            =text_area_tag :des,f.description,:rows => 3,:class=>"inpTxt w150px",:disabled=>true
          -else
            =text_area_tag :des,f.description,:rows => 3,:class=>"inpTxt w150px"
      %div{:class=>"buttons"}
        -if @user.privilige=="Read"
          =submit_tag "Save",:class=>"btn",:disabled=>true
        -else
          =submit_tag "Save",:class=>"btn"
        =remove_file_edit_field submit_tag("Cancel",:class=>"btn"),f