-if current_user.nil? and current_member.nil?
 :plain
  window.location.replace("/sign-in");
-elsif !@use.nil?
 :plain
  window.location.replace("/project_files");
-else
 :plain
  $('#add_use_file').attr('value','');
  $('#add_file_name').prepend('#{escape_javascript(render(:partial=>'project_files/create_link_use'))}');