%div{:align=>"left",:style=>"width:445px"}
                      %hr{:style=>"width:350px;"}
                      ="TR_" + tracker.id.to_s
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      ="Entered " + tracker.created_at.strftime("%d %B %Y")
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      -first_name=find_user_name_tracker(tracker)
                      -if !first_name.empty?
                                            ="By " + first_name

                      %br
                      %br
                      -form_tag edit_tracker_use_url(tracker.id) do 
                                            %div{:style=>"display:inline-block;float:left;width:220px;"}
                                                                  =label_tag "Description"
                                                                  =text_field_tag "title",tracker.title,:maxlength=>"50"
                                                                  %br
                                                                  =label_tag "Category"
                                                                  =select "category","",options_for_select(["Configuration","Expenses","Invoicing","User admin"],tracker.category)
                                                                  %br

                                                                  =label_tag "Assigned"
                                                                  =select "assigned","id",@all_user.collect {|name| [name.first_name]},{:selected=>tracker.assigned,:prompt=>"--Select--"}
                                                                  %br

                                                                  =label_tag "Due"
                                                                  =text_field_tag :due1,tracker.due,:class=>"calendar"

                                            %br
                                            %br
                                            %br
                                            %br
                                            =submit_tag "Save"
                                            =remove_edit_tracker_use_field "Cancel",tracker
