%div{:class=>"container"}
 %div{:id=>"tracker",:class=>"leftPanel"}
  %h1="Tracker"
  %div{:class=>"fcontainer"}
   %div{:id=>"add_tracker_text"}
    -if !session[:project_id].nil? 
     =text_field_tag :tracker_name,"<< Add tracker",:size=>"50",:style=>"text-align:right"
    -else
     =text_field_tag :tracker_name,"<< Add tracker",:size=>"50",:style=>"text-align:right",:disabled=>true
    %br
    %br
   %div{:id=>"add_tracker",:align=>"middle"}
    -if !@trackers.nil?
     -@trackers.each do |tracker|
      %div{:class=>"Row wid660"}
       =tracker.title
       |
       ="Assigned" if tracker.assigned.nil? or tracker.assigned.empty? 
       =tracker.assigned if !tracker.assigned.nil? 
       |
       =tracker.category 
       |
       ="Due" if tracker.due.nil?
       =tracker.due if !tracker.due.nil?
       -if tracker.flag_tracker==true
        =check_box_tag "track_flag_#{tracker.id}","",true
       -else
        =check_box_tag "track_flag_#{tracker.id}","",false  
       =add_edit_tracker_field "Edit",tracker
       -att_flag=check_attachment_tracker(tracker)
       -if att_flag=="true"
        =link_to "Delete",tracker_path(tracker.id),:method => :delete
       -else
        =link_to "Delete",tracker_path(tracker.id),:confirm => 'Are you sure you want to delete?',:method => :delete
       =add_comment_tracker_field "Add Comments",tracker,@user
       %div{:id=>"edit_#{tracker.id}"}
       %br
       %div{:id=>"comment_#{tracker.id}"} 
       %hr{:style=>"width:400px;color:green;"}
       %br
 %div{:class=>"rightPanel"}
  %div{:id=>"sort_tracker"}
   %h1="Sort Tracker"
   =radio_button_tag :sort,"category"
   =label_tag "Category"
   %br
   =radio_button_tag :sort,"title"
   =label_tag "Name"
   %br
   =radio_button_tag :sort,"created_at"
   =label_tag "Date Entered"
   %div{:id=>"storage"}
   %h1="Storage"
   =find_storage_use(@user).to_s + "mb from " + find_total_storage_use(@user) + " used"
