-if !@trackers.nil?
 =render :partial=>'trackers/index_tracker'
-elsif !@tracker_reqs.nil?
 =render :partial=>'trackers/index_tracker_req'
-elsif !@tracker_usecases.nil?
 =render :partial=>'trackers/index_tracker_use'  