-if current_user.nil? and current_member.nil?
 :plain
  window.location.replace("/sign-in");
-elsif @tracker.nil?
 :plain
  window.location.replace("/trackers");
-else
 :plain
  $('#add_tracker').html('#{escape_javascript(render(:partial=>'trackers/update_tracker'))}');