-if !@member.nil?
      -if @member.errors.any?
            %div{:class=>"flash_error"}
                  =@member.errors.full_messages[0]
                        
      -elsif @flag_email_check!=nil
            %div{:class=>"flash_error"}=@flag_email_check
            %br
