$('#add_member').prepend('#{escape_javascript(render(:partial=>'add_member'))}');
-if @flag_error=="false" and @flag=="true"
 :plain
  $('#member_name1').attr('value','');
  $('#email_error').html('#{escape_javascript(render(:partial=>'form1'))}');
-elsif @flag_error=="false" and @flag=="false"
 :plain
  $('#email_error').html('#{escape_javascript(render(:partial=>'form1'))}');
  $('#member_name1').attr('value','<< Add new person email address');
  $('#member_name1').attr('disabled',true);
-elsif @flag_error=="true" and @flag=="true"
 :plain
  $('#email_error').html('#{escape_javascript(render(:partial=>'form1'))}');
  $('#member_name1').attr('value','');  

 