%div{:align=>"center"}
 ="An account has been created for the user and an email notifcation has been sent to,"
 =@member.email
 =", asking them to log in."
 %br
 =submit_tag "Ok",:onclick=>"window.close()"